build
build_32bit
lib3MF.pc
Include/Model/COM/NMR_COMVersion.h
debug
.DS_Store
.vscode
TestOutput
nonrootmodels.3mf
SetupWriteRead1.3mf
SetupWriteRead2.3mf
SetupWriteRead3.3mf
SetupWriteRead4.3mf
SetupWriteRead5.3mf
v093reout.3mf
.vs
.idea
cmake-build-*
venv
