[submodule "Tests/googletest"]
	path = Tests/googletest
	url = https://github.com/google/googletest.git
[submodule "Tests/libressl"]
	path = Tests/libressl
	url = https://github.com/3MFConsortium/forks-libressl-distribution.git
