# Configuration file for Travis CI (https://travis-ci.org)
#
# It used as a status check for all PRs and
# to generate the build-status-icon in the main README.md-file.

language: cpp
sudo: required
services:
  - docker

matrix:
  include:
    - os: linux
      compiler: gcc
      env: BUILDMODE=cmake-make
    - os: osx
      osx_image: xcode7.2
      env: BUILDMODE=cmake-make
    - os: linux
      env: BUILDMODE=ppcxenial
    - os: windows
      env: BUILDMODE=windows
    - os: linux
      dist: trusty
      compiler: x86_64-w64-mingw32-g++
      env: BUILDMODE=cmake-mingw32
      addons:
        apt:
          packages:
            - gcc-mingw-w64-base
            - binutils-mingw-w64-x86-64
            - gcc-mingw-w64-x86-64
            - gcc-mingw-w64
            - g++-mingw-w64-x86-64

before_script:
    - if [[ "$BUILDMODE" = "cmake-mingw32" ]]; then sh cmake/GenerateMinGW.sh; cd build; fi
    - if [[ "$BUILDMODE" = "cmake-make" ]]; then sh cmake/GenerateMake.sh; cd build; fi
    - if [[ "$BUILDMODE" = "windows" ]]; then cmake/GenerateVS2017.bat; cd build; fi
    - if [[ "$BUILDMODE" = "ppcxenial" ]]; then
      docker pull multiarch/qemu-user-static ;
      docker pull multiarch/ubuntu-debootstrap:powerpc-xenial ;
      docker run --rm --privileged multiarch/qemu-user-static --reset -p y ;
      docker build -t ppc-xenial -f CI/Dockerfile . ;
      fi

script:
    - if [[ "$BUILDMODE" != "ppcxenial" ]]; then cmake --build . ; fi
    - if [[ "$BUILDMODE" == "cmake-make" ]]; then ctest -V ; fi
    - if [[ "$BUILDMODE" == "windows" ]]; then ctest -V ; fi
    - if [[ "$BUILDMODE" == "ppcxenial" ]]; then docker run ppc-xenial; fi
